.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }

*{
    box-sizing: border-box;
}

@media screen and (min-width: 400px){
body {
    background-color: hsl(212, 45%, 89%);
}


.WhiteCircle{
    display: block;
    background-color: white;
    border-radius: 15px;
    width: 450px;
    height: 650px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    min-width: 20%;
    min-height: 20%;
}

.WhiteCircle p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

.text{
    text-align: center;
}

.SmallerCircle {
    margin:auto;
}

#QRCode{
    border-radius: 15px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

}

@media screen and (max-width: 400px){


body{
    background-color: hsl(212, 45%, 89%);
}

.WhiteCircle{
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.WhiteCircle h1 {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.WhiteCircle p {
    font-size: 15px;
    text-align: center;
    color: hsl(220, 15%, 55%);
    padding-left: 25px;
    padding-right: 25px;
}

#QRCode{
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }
}